@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hind, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-dishes {
  position: absolute;
  width: clamp(45rem, 100%, 55rem);
  height: auto;
  z-index: -1;
}
.girl-size {
  width: clamp(28rem, calc(70vw - 10rem), 35rem);
  height: auto;
  object-fit: fill;
}
@media only screen and (min-width: 840px) {
  .bg-dishes {
    width: clamp(40rem, 100%, 45rem);
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
}
