@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hind, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-dishes {
  position: absolute;
  width: 50%;
  z-index: -1;
}
.girl-size {
  width: clamp(20rem, calc(70vw - 10rem), 35rem);
  height: auto;
  object-fit: fill;
}
@media only screen and (max-width: 799px) {
  .bg-dishes {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .bg-dishes {
    top: 52%;
    right: -25%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 800px) {
  .bg-dots {
    background-image: url("../public/headerDots.png");
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: -10rem center;
  }
}
@media only screen and (max-width: 400px) {
  .bg-dishes {
    width: 170%;
    transform: translate(-25%, 5%);
  }
}
